

/* Điện thoại chiều dọc */
@media  screen and (min-width:320px) {
    
}

/* Điện thoại chiều ngang */
@media  screen and (min-width:480px) {
    
}

/* Tablet - chiều dọc */
@media  screen and (min-width:600px) {
    #nav-mobile-button img {}
    .nav-mobile {width: 50%;}
    .mobile-close img {left: 80%;}
    .nav-mobile ul { margin-top: 80px; border-top: 1px solid rgba(1, 1, 1, .4);}


    .left {width: 40%; float: right;}
    .box-1 {display: none;}
    .box-2 {display: none;}

    .right {width: 60%; float: left; padding: 10% 0% 10% 5%;}
    #hello-h1-1, #hello-h1-2 {font-size: 47px;}
    .des {width: 100%; float: left;}
    section {box-sizing: border-box; padding: 20px;}
    .mobile {display: none;}
    .tablet {display: none;}

}

/* Tablet - chiều ngang */
@media  screen and (min-width:800px) {
    
    #nav-mobile-button img {}
    .nav-mobile {width: 40%;}
    .mobile-close img {}
    #logo{left: 8%;}
    nav {display: block;}
}

/* Tablet to - dọc */
@media  screen and (min-width:769px) {
    #nav-mobile-button {display: none;}
    #resume-btn {display: block;}
    .box-2{display: block;top: 50%;z-index: 1;}
    
}

/* Tablet to - ngang */
@media  screen and (min-width:1024px) and (min-height:1366px) {
    nav ul {margin-left: 23%;}
    .box-2{display: block;top: 50%;z-index: 1;}
}

/* Desktop */
@media  screen and (min-width:1025px) {
    .box-2{display: block;top: 50%;z-index: 1;}
    .left {width: 50%; position: relative; box-sizing: border-box;}
    #img-back-ndisp{width: 60%; visibility: hidden; margin-bottom: 20px;}
    #img-back {width: 60%; position: absolute; left: 10%; animation-duration: 1s; animation-name: img-back-des;}
    #img-front {width: 65%; position: absolute; right: 24%;animation-duration: 1s; animation-name: img-front-des;}
    .box-2{display: block;top: 70%;}
    @keyframes img-back-des {
        0%{left: 30%;}
        100% {left: 10%;}
      }
    @keyframes img-front-des {
        0%{right: 30%;}
        100% {right: 24%;}
      }

    .right {width: 50%;}
    #hello-h1-1 {font-size: 35px; margin: 0px; padding-left: 15%;}
    #hello-h1-2 {font-size: 35px; margin: 10px 0px 20px 0px;padding-left: 15%; padding-bottom: 30px;}
    .text-block {font-size: 20px; text-align: left;margin-bottom: 10px;padding-left: 15%;}
}
