[class*="col-"] {
    float: left;
    padding: 15px; }

.row::after {
    content: "";
    clear: both;
    display: table;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .nav-display {display: none;}
    .navms {display: block;}
    #resume-btn {width: 70px; height: 30px; font-size: 14px; font-weight: bold ;line-height: 30px;color:#fef6ef; background-color: #414042; text-align: center; border-top-left-radius: 10px; border-bottom-left-radius: 10px; position: fixed; top: 10px; right: 0; z-index: 2; transition: .25s;}

    #resume-btn:hover {width: 90px; cursor: pointer; background-color: rgba(82, 82, 82, 0.9);}

    #nav-icon {width: 70px; height: 30px;font-size: 14px; font-weight: bold ;line-height: 30px;color:#fef6ef; background-color: #414042; text-align: center; border-top-right-radius: 10px; border-bottom-right-radius: 10px; position: fixed; top: 10px; left: 0; z-index: 2; transition: .25s;}

    #nav-icon:hover {width: 90px; cursor: pointer; background-color: rgba(82, 82, 82, 0.9);}

    #nav-icon:hover .navsm{left: 0%;}

    .navsm {width: 100%;height: 100%; background-color: rgba(82, 82, 82, 0.9); position: fixed; padding-top: 50px; left: -100%; transition: .5s;}

    .navsm ul li {width: 100%; height: 50px; line-height: 50px; text-align: center; font-size: 16px; color:#fef6ef ; font-weight: bold; transition: width 1s;}

    .navsm a {
    font-size: 14px;
    color:#fef6ef;
    position: relative;
    padding: 0 10px 0 2px;
    text-transform: uppercase;
    text-decoration: none;
  }
    .navsm a:before, .navsm a:after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    right: 0;
    height: 2px;
    border-bottom: 5px solid #f37239;
    /* background-color: #f37239; */
  }
  .navsm a:before {
    opacity: 0;
    transform: translateY(-8px);
    transition: transform 0s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0s;
  }
  .navsm a:after {
    opacity: 0;
    transform: translateY(4px);
    transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.2s;
  }
  .navsm a:hover:before, .navsm a:hover:after, navsm a:focus:before, .navsm a:focus:after {
    opacity: 1;
    transform: translateY(0);
  }
  .navsm a:hover:before, .navsm a:focus:before {
    transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.2s;
  }
  .navsm a:hover:after, .navsm a:focus:after {
    transition: transform 0s 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0s 0.2s;
  }

    .left-sm {width: 95%; min-height: 100px; float:left; padding: 20px 0px;  margin-top: 30px;}
    .left-sm h1 {font-size:30px; text-align: justify; line-height: 10px; padding: 0px 5px 0px 5px ;}
    .left-sm p {font-size: 18px; text-align: justify; line-height: 30px; padding: 0px 5px 0px 5px ; margin-top: 50px;}
    .about-me-btn {width: 100px; height: 50px; border-radius: 5px; background-color: rgba(82, 82, 82, 1); margin: auto; color: #fef6ef; font-weight: bolder; border-style: none;}
    .about-me-btn:hover {background-color: rgba(82, 82, 82, 0.85);}

    .right-sm {width: 95%; min-height: 100px; margin-left: 0.5em; margin-top: 40px; float: right; position: relative;}
    .right-sm #back {width: 350px; position: absolute;left: -40px; top: 10; z-index: 0;
                animation-name: header-profile-1-sm; animation-duration: 2s;}
    .right-sm #front {width: 400px; position: absolute;left: -45px; animation-name: header-profile-2-sm; animation-duration: 2s;}
 
    .hello-area {height: 750px;}
    @keyframes header-profile-1-sm {
        0% {left: 150px;}
        100% {left: -40px;}
    }
    
    @keyframes header-profile-2-sm {
      0% {left: -300px;}
      100% {left: -45px;}
    }
    #logo {width: 40px; position: absolute; margin-top: 7px; left: 33.33%;}
    #logo a img {width: 130px; float: left; transition: .25s;}
    /* #logo a img:hover { width: 140px;} */

    
} 

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .col-m-1 {width: 8.33%;}
    .col-m-2 {width: 16.66%;}
    .col-m-3 {width: 25%;}
    .col-m-4 {width: 33.33%;}
    .col-m-5 {width: 41.66%;}
    .col-m-6 {width: 50%;}
    .col-m-7 {width: 58.33%;}
    .col-m-8 {width: 66.66%;}
    .col-m-9 {width: 75%;}
    .col-m-10 {width: 83.33%;}
    .col-m-11 {width: 91.66%;}
    .col-m-12 {width: 100%;}

    .nav-display {display: none;}
    .navsm {display: block;}
} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .col-t-1 {width: 8.33%;}
    .col-t-2 {width: 16.66%;}
    .col-t-3 {width: 25%;}
    .col-t-4 {width: 33.33%;}
    .col-t-5 {width: 41.66%;}
    .col-t-6 {width: 50%;}
    .col-t-7 {width: 58.33%;}
    .col-t-8 {width: 66.66%;}
    .col-t-9 {width: 75%;}
    .col-t-10 {width: 83.33%;}
    .col-t-11 {width: 91.66%;}
    .col-t-12 {width: 100%;}

    .nav-display {display: block;}
    .navsm {display: none;}

    .left-t {width: 45%; min-height: 100px; float:left; padding: 20px 0px;  margin-top: 30px;}
    .left-t h1 {font-size:30px; text-align: justify; line-height: 10px; padding: 0px 5px 0px 5px ;}
    .left-t p {font-size: 18px; text-align: justify; line-height: 30px; padding: 0px 5px 0px 5px ; margin-top: 50px;}
    .about-me-btn {width: 100px; height: 50px; border-radius: 5px; background-color: rgba(82, 82, 82, 1); margin: auto; color: #fef6ef; font-weight: bolder; border-style: none;}
    .about-me-btn:hover {background-color: rgba(82, 82, 82, 0.85);}

} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .col-ts-1 {width: 8.33%;}
    .col-ts-2 {width: 16.66%;}
    .col-ts-3 {width: 25%;}
    .col-ts-4 {width: 33.33%;}
    .col-ts-5 {width: 41.66%;}
    .col-ts-6 {width: 50%;}
    .col-ts-7 {width: 58.33%;}
    .col-ts-8 {width: 66.66%;}
    .col-ts-9 {width: 75%;}
    .col-ts-10 {width: 83.33%;}
    .col-ts-11 {width: 91.66%;}
    .col-ts-12 {width: 100%;}

  nav {display: block;}
    .navsm {display: none;}
    #btn-menu {display: none;}
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .col-d-1 {width: 8.33%;}
    .col-d-2 {width: 16.66%;}
    .col-d-3 {width: 25%;}
    .col-d-4 {width: 33.33%;}
    .col-d-5 {width: 41.66%;}
    .col-d-6 {width: 50%;}
    .col-d-7 {width: 58.33%;}
    .col-d-8 {width: 66.66%;}
    .col-d-9 {width: 75%;}
    .col-d-10 {width: 83.33%;}
    .col-d-11 {width: 91.66%;}
    .col-d-12 {width: 100%;}

    .nav-display {display: block;}
    .navsm {display: none;}
    #btn-menu {display: none;}
}