.color-1 {color: #fef6ef;}
.color-2 {color:#f37239}
.color-3 {color:#6eb5ca}
.color-4 {color:#b8d8e0}
.color-5 {color:#525252}



.color-1 {color: #0b132b;}
.color-2 {color:#1c2541;}
.color-3 {color:#3a506b;}
.color-4 {color:#5bc0be;}
.color-5 {color:#6fffe9;}


html,body,div,ul,ol,li,a,img,span,p,b,input,label {
	color: #6fffe9;
}
body{ height: 100%;background-color: #0b132b; }

#all { width: 100%; height:100%;background-color: #0b132b; box-sizing: border-box; padding:20px; z-index: -1;}

.mobile {display: display;}
.tablet {display: none;}


/* -----HEADER------ */

header { width: 100%; height: 60px; background-color:#0b132b; position: fixed; top: 0; left: 0; box-shadow: 0px 0px 1px 3px #3a506b;; z-index: 2; box-sizing: border-box; }

header::after {
  content: "";
  clear: both;
  display: block;
}
#logo {height: 60px; position: fixed; top: 11px; left: 5%; cursor: pointer;}
#logo a img {width: 35px; float: left;}

/* -----Navigate-mobile----- */
#nav-mobile-button {float: right; cursor: pointer;}
#nav-mobile-button img{width: 30px; position: fixed; top: 15px; right: 5%;}
/* #background-nav{position: fixed;top: 0;bottom: 0;left: 0;right: 0; background-color: rgba(0,0,0,.3);} */
.nav-mobile {background-color: #0b132b; position: fixed; width: 100%;top: 0; right: 0;bottom: 0; transform: translateX(100%); opacity:0;transition: transform linear 0.15s, opacity linear .15s;}
.mobile-close img {position: absolute; width: 25px; top: 30px; left: 80%; cursor: pointer;}
.mobile-logo img {position: absolute; width: 33px; top: 25px; left: 10%;}

.nav-mobile ul {margin-top: 80px;}
.nav-mobile ul li {padding-bottom: 20px; padding-left:30%;padding-top: 20px;font-size: 25px; text-align: left; font-weight: bold; width: 100%;}
.nav-mobile ul li:hover {background-color: #5bc0be; color: #0b132b;} 
.nav-mobile ul li:hover .nav-icon {display: none;}
.nav-mobile ul li:hover .mobile-icon-hover{display: block;}
.nav-icon {width: 30px; position: fixed; left: 10%; }
.mobile-icon-hover {display: none;}


#nav-btn:checked ~ .nav-overlay {position: fixed;top: 0;bottom: 0;left: 0;right: 0; background-color: rgba(0,0,0,.3); animation: fade-in linear .2s;}
#nav-btn:checked ~ .mobile-close {display: none;}
#nav-btn:checked ~ .nav-mobile{transform: translateX(0%); opacity: 1;}
#nav-btn:checked ~ .nav-list{display: block;}


@keyframes nav-ease-in {
  from {transform: -100%;}
  to {transform: 0%;}
}


/* -----Navigate - Desktop */
nav { display: none;}
nav ul {float: left; margin-left: 29%; width: 70%; line-height: 60px;}
nav ul li {
    text-transform: uppercase; letter-spacing: 3px;
    font-size: 16px;float: left; margin-right:3%; margin-left: 3%; text-align: center;}

/* nav ul li::after {background-color: #f37239;} */

.button{
	text-decoration: none;
	position: relative;
}
/* Style - 5 */
a.button.five:after{
	content: '';
	position: absolute;
	bottom: -4px;
	right: 0;
	width: 0%;
	height: 100%;
	border-bottom: 2px solid #6fffe9;
	
	transition: width 0.3s ease;
}

a.button.five:hover:after{
	left: 0;
	width: 100%;
	transition: width .3s ease;
}

/* style - 6 */
a.button.six:after{
	content: '';
	width: 100%;
	height: 120%;
	top: 0;
	left: 0;
	position: absolute;
	border-bottom: 2px solid #6fffe9;
	opacity: 0;
	transition: all .2s ease;
}

a.button.six:hover:after{
	opacity: 1;
	height: 100%;
	
	transition: all 0.3s ease;
}

/* Resume button - Desktop */
#resume-btn {width: 10%; height: 35px; background-color: #6fffe9; position: fixed; right: 0; top: 12px; border-bottom-left-radius: 15px; border-top-left-radius: 15px; text-align: center; display: none;}
#resume-btn p{color: #3a506b; line-height: 35px; font-size: 20px; font-weight:900;}

#resume-btn:hover {cursor: pointer; background-color:#5bc0be;}
#resume-btn:hover

/* -----CONTAINER------ */

#container {width: 100%; min-height:100px;}

section {width: 100%; min-height: 100px; margin:50px 0px; z-index: inherit}

#section-1::after {content: ""; clear: both; width: 0px; height: 0px; display: block;}

.left {width: 100%; position: relative; box-sizing: border-box;}
#img-back-ndisp{width: 100%; visibility: hidden; margin-bottom: 20px;}
#img-back {width: 90%; position: absolute; left: -5%; animation-duration: 1s; animation-name: img-back;}
#img-front {width: 105%; position: absolute; right: 0;animation-duration: 1s; animation-name: img-front;}
.box-1 {width: 71%; height: 30%; background-color: #5bc0be; position: absolute; bottom: 5%; right: 69%;animation-duration: 1s; animation-name: box-1; z-index: 1;}
.box-2 {width: 60%; height: 40%; background-color: #6fffe9; position: absolute; top: 10%; left: 46%;animation-duration: 2s; animation-name: box-2;}

@keyframes img-back {
  0%{left: 30%;}
  100% {left: -5%;}
}
@keyframes img-front {
  0%{right: 30%;}
  100% {right: 0%;}
}
@keyframes box-1 {
  0%{right:-100%}
  100%{right: 69%;}
}
@keyframes box-2 {
  0%{left:-100%}
  100%{left: 46%;}
}

.right {width: 100%; box-sizing: border-box;}
#hello-h1-1 {font-size: 35px; margin: 0px;}
#hello-h1-2 {font-size: 35px; margin: 10px 0px 20px 0px;}
.text-block {font-size: 20px; text-align: left;margin-bottom: 10px;}





/* PROJECT */
.project-block {width: 90%; margin: auto;}
.project-block::after{
  content: ""; clear: both;width: 0px;height: 0px;display: block;
}
.project-block-left{width: 10%;min-height: 100px; box-sizing: border-box; margin: auto;float: left;}
.project-block-left .line{width: 10%;background-color: #6eb5ca; min-height: 100px }
.project-block-right {width: 90%;box-sizing: border-box; float: left;}


/* ------FOOTER ---------- */
footer {width: 100%; height: 60px; margin: auto;}
.footer-area p {text-align: center; color: #6fffe9;}