.color-1 {color: #fef6ef;}
.color-2 {color:#f37239;}
.color-3 {color:#6eb5ca;}
.color-4 {color:#b8d8e0;}
.color-5 {color:#525252;}

/* #all-page {width: 100%; min-height: 400px; background-color: #fef6ef;} */

body {background-color: #fef6ef;}

/* ------------ AMINATION --------------- */
@keyframes header-profile-1 {
    0% {left: 0px;}
    100% {left: -150px;}
}

@keyframes header-profile-2 {
  0% {left: -300px;}
  100% {left: -150px;}
}

.header-1 {height: 50px; background-color: #6eb5ca;}
.header-2 {height: 50px; background-color: #f37239;}
.header-3 {height: 50px; background-color: #b8d8e0;}